# The format of the configuration
# file is a simplified Apache Style Config file.
# Following features are supported:
# 
# - Apache Style Config syntax
# - comments are allowed with lines starting with #
# - blank lines are ignored
# - file inclusion with <<include relative_file_path.conf>>

<entry>
    type = supervisor
    name = svisor1
    window = 12
    adjustments = 3
    strategy = one_for_one
    <children>
	    <entry>
	        type = service
	        name = httpd
	        expected = stopped
	        control = /sbin/service httpd
	    </entry>
        <<include other_service.conf>>
    </children>
</entry>
