# The format of the configuration
# file is a simplified Apache Style Config file.
# Following features are supported:
# 
# - Apache Style Config syntax
# - comments are allowed with lines starting with #
# - blank lines are ignored
# - file inclusion with <<include relative_file_path.conf>>

<simplevisor>
    # File used to store the status
    store = /var/cache/simplevisor/simplevisor.json
    
    # pid file
    # ignored if simplevisor-control is used
    #pidfile = /path/to/pid
    
    # interval between supervision cycles in seconds
    #interval = 120
	
    # Configure the logging system.
    # 3 are available: stdout,syslog,file
    log = stdout

    # If logging system is file you need to specify a log file,
    # check that the logfile is writable by the specified user.
    #logfile = /var/log/simplevisor/simplevisor.log
	
    # loglevel is warning by default,
    # the available log levels are: debug,info,warning,error,critical
    #loglevel = info
</simplevisor>

<<include simplevisor.services.example>>
